{{ define "title" }}{{ $.Title }}{{ end }}
{{ template "preamble" $ }}
<main class="pt-12 p-1">
  <div class="flex min-w-0 w-full flex-1 flex-col items-center justify-center gap-6 rounded-lg text-balance md:p-12 text-neutral-800 dark:text-neutral-300">
    <header class="flex max-w-sm flex-col items-center gap-3 text-center">
      <div class="mb-2 [&_svg]:pointer-events-none [&_svg]:shrink-0 bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*='size-'])]:size-6">
        {{ if hasPrefix $.Title "500" }}
          {{ template "tabler-mood-sad-dizzy" }}
        {{ else if hasPrefix $.Title "404" }}
          {{ template "tabler-mood-puzzled" }}
        {{ else }}
          {{ template "tabler-mood-annoyed" }}
        {{ end }}
      </div>
      <h3 class="text-lg font-semibold tracking-tight">{{ safeHTML $.Headline }}</h3>
      <p class="text-muted-foreground text-sm/relaxed">{{ safeHTML $.Byline }}</p>
    </header>
    {{ if $.ContextData.Referer }}
    <div class="text-center link"><a href="{{ $.ContextData.Referer }}" data-go-back>&larr; Go back</a></div>
    {{ end }}
    {{ if $.Details }}
    <details role="group" class="flex w-full flex-col items-center gap-3 px-2">
      <summary class="flex items-center gap-1 p-2">
        details
      </summary>
      <section class="min-w-0 w-full self-stretch overflow-scroll">
        <div class="break-all px-2">{{ $.Details }}</div>
        {{ if $.Callers }}
        <strong class="px-2">stack trace:</strong>
        <ul class="break-all px-2">
          {{ range $caller := $.Callers }}
          <li>{{ $caller }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </section>
    </details>
    {{ end }}
  </div>
</main>
