{{ define "title" }}Login{{ end }}
{{ template "preamble" $ }}
<script type="module" src="/cms/static/login.js"></script>
{{ if $.RequireCaptcha }}
<script src="{{ $.CaptchaWidgetScriptSrc }}" async defer></script>
{{ end }}
<main class="p-3 pt-5 w-full md:w-md mx-auto">
  {{ if eq (index $.FlashData "from") "invite" }}
  <div class="alert mb-3">
    {{ template "tabler-info-circle" }}
    <h2>Account created</h2>
    <section>Please log in using your new credentials.</section>
  </div>
  {{ end }}
  {{ if eq (index $.FlashData "from") "resetpassword" }}
  <div class="alert mb-3">
    {{ template "tabler-info-circle" }}
    {{ if index $.FlashData "emailSent" }}
    <h2>Password reset email sent</h2>
    <section>Please check your spam folder if you do not see it.</section>
    {{ else }}
    <h2>Password reset successfully</h2>
    <section>Please log in using your new credentials.</section>
    {{ end }}
  </div>
  {{ end }}
  {{ if eq (index $.FlashData "from") "changepassword" }}
  <div class="alert mb-3">
    {{ template "tabler-info-circle" }}
    <h2>Password changed successfully</h2>
    <section>Please log in using your new credentials.</section>
  </div>
  {{ end }}
  {{ if eq $.Error "AlreadyAuthenticated" }}
  <div class="alert mb-3">
    {{ template "tabler-info-circle" }}
    <h2>You are already logged in</h2>
    <section><p>Go to your <a href="/cms/" class="link">dashboard</a>.</p></section>
  </div>
  {{ else if eq $.Error "RetryWithCaptcha" }}
  <div class="alert mb-3">
    {{ template "tabler-alert-triangle" }}
    <h2>Please retry with captcha</h2>
  </div>
  {{ else if eq $.Error "CaptchaChallengeFailed" }}
  <div class="alert mb-3">
    {{ template "tabler-alert-triangle" }}
    <h2>Captcha challenge failed</h2>
  </div>
  {{ else if eq $.Error "IncorrectLoginCredentials" }}
  <div class="alert mb-3">
    {{ template "tabler-alert-triangle" }}
    <h2>Incorrect username or password</h2>
  </div>
  {{ else if eq $.Error "NotAuthenticated" }}
  <div class="alert mb-3">
    {{ template "tabler-alert-triangle" }}
    <h2>Please log in</h2>
  </div>
  {{ end }}
  <div class="card">
    <header>
      <h2>☕ Login to your notebrew account</h2>
    </header>
    <section>
      <form id="login" method="post" class="form grid gap-6">
        <div class="grid gap-2">
          <label for="username">Username or Email</label>
          <input id="username" type="text" name="username" value="{{ $.Username }}" placeholder="user@mail.com" autocomplete="on" required
            {{ if or (index $.FormErrors "username") (eq $.Error "IncorrectLoginCredentials") }}aria-invalid="true"{{ end }}
            {{ if eq (index $.FlashData "from") "resetpassword" }}autofocus{{ end }}
            {{ if eq $.Error "AlreadyAuthenticated" }}disabled{{ end }}
          >
          <ul class="list-disc px-4 text-sm text-red-600">
            {{ range $error := index $.FormErrors "username" }}
            <li>{{ $error }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="grid gap-2">
          <div class="flex items-center gap-2">
            <label for="password">Password</label>
            {{ if $.HasMailer }}
            <a href="#" class="ml-auto inline-block text-sm underline-offset-4 hover:underline link">Forgot your password?</a>
            {{ end }}
          </div>
          <input id="password" type="password" name="password" autocomplete="on" required
            {{ if or (index $.FormErrors "password") (eq $.Error "IncorrectLoginCredentials") }}aria-invalid="true"{{ end }}
            {{ if eq $.Error "AlreadyAuthenticated" }}disabled{{ end }}
          >
          <ul class="list-disc px-4 text-sm text-red-600">
            {{ range $error := index $.FormErrors "password" }}
            <li>{{ $error }}</li>
            {{ end }}
          </ul>
        </div>
        {{ if $.RequireCaptcha }}
        <div class="{{ $.CaptchaWidgetClass }}" data-sitekey="{{ $.CaptchaSiteKey }}" data-captcha-response-name="{{ $.CaptchaResponseName }}"></div>
        {{ end }}
      </form>
    </section>
    <footer class="flex flex-col items-center gap-2">
      <button type="submit" form="login" class="btn w-full"
        {{ if eq $.Error "AlreadyAuthenticated" }}disabled{{ end }}
      >
        Login
      </button>
      <button type="button" class="btn-outline w-full"
        {{ if eq $.Error "AlreadyAuthenticated" }}disabled{{ end }}
      >
        {{ template "tabler-brand-google" }}
        Login with Google
      </button>
      {{ if ne $.Error "AlreadyAuthenticated" }}
      <p class="mt-4 text-center text-sm">Don"t have an account? <a href="#" class="underline-offset-4 hover:underline link">Sign up</a></p>
      {{ end }}
    </footer>
  </div>
</main>
